# Compiled class files
*.class

# Log files
*.log

# Package files
*.jar
*.war
*.ear

# Maven / Gradle directories
/target/
/build/

# IDE and editor specific files
/.idea/
/*.iml
/.classpath
/.project
/.settings/
/.vscode/

# Mac system files
.DS_Store

# Windows system files
Thumbs.db

# Temporary files
*.tmp
*.temp
*.bak
*.swp
*~

# Others
out/
